<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.54.0.1" targetFramework="Native" />
  <package id="boost_chrono_src" version="1.54.0.130" targetFramework="Native" />
  <package id="boost_date_time_src" version="1.54.0.130" targetFramework="Native" />
  <package id="boost_system_src" version="1.54.0.130" targetFramework="Native" />
  <package id="boost_thread_src" version="1.54.0.130" targetFramework="Native" />
  <package id="boost_wave_src" version="1.54.0.130" targetFramework="Native" />
</packages>