<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.54.0.1" targetFramework="Native" />
  <package id="boost_graph_parallel_src" version="1.54.0.46" targetFramework="Native" />
  <package id="boost_mpi_src" version="1.54.0.46" targetFramework="Native" />
  <package id="boost_serialization_src" version="1.54.0.46" targetFramework="Native" />
</packages>