<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.54.0.0" targetFramework="Native" />
  <package id="boost_atomic_src" version="1.54.0.8" targetFramework="Native" />
  <package id="boost_chrono_src" version="1.54.0.1" targetFramework="Native" />
  <package id="boost_date_time_src" version="1.54.0.1" targetFramework="Native" />
  <package id="boost_exception_src" version="1.54.0.0" targetFramework="Native" />
  <package id="boost_mpi" version="1.54.0.3" targetFramework="Native" />
  <package id="boost_python" version="1.54.0.2" targetFramework="Native" />
  <package id="boost_system_src" version="1.54.0.5" targetFramework="Native" />
</packages>