<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.54.0.1" targetFramework="Native" />
  <package id="boost_atomic_src" version="1.54.0.10" targetFramework="Native" />
  <package id="boost_chrono_src" version="1.54.0.3" targetFramework="Native" />
  <package id="boost_context" version="1.54.0.2" targetFramework="Native" />
  <package id="boost_coroutine_src" version="1.54.0.4" targetFramework="Native" />
  <package id="boost_date_time_src" version="1.54.0.3" targetFramework="Native" />
  <package id="boost_filesystem_src" version="1.54.0.1" targetFramework="Native" />
  <package id="boost_mpi" version="1.54.0.5" targetFramework="Native" />
  <package id="boost_mpi_python" version="1.54.0.3" targetFramework="Native" />
  <package id="boost_python" version="1.54.0.6" targetFramework="Native" />
  <package id="boost_serialization_src" version="1.54.0.5" targetFramework="Native" />
  <package id="boost_system_src" version="1.54.0.7" targetFramework="Native" />
</packages>