<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.54.0.1" targetFramework="Native" />
  <package id="boost_chrono_src" version="1.54.0.92" targetFramework="Native" />
  <package id="boost_date_time_src" version="1.54.0.93" targetFramework="Native" />
  <package id="boost_locale_src" version="1.54.0.101" targetFramework="Native" />
  <package id="boost_system_src" version="1.54.0.99" targetFramework="Native" />
  <package id="boost_thread_src" version="1.54.0.101" targetFramework="Native" />
</packages>