<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost.accumulators" version="1.54.0.23" targetFramework="Native" />
  <package id="boost.blank" version="1.54.0.23" targetFramework="Native" />
  <package id="boost.concept_check" version="1.54.0.23" targetFramework="Native" />
  <package id="boost.config" version="1.54.0.23" targetFramework="Native" />
  <package id="boost.detail" version="1.54.0.23" targetFramework="Native" />
  <package id="boost.fusion" version="1.54.0.23" targetFramework="Native" />
  <package id="boost.mpl" version="1.54.0.23" targetFramework="Native" />
  <package id="boost.parameter" version="1.54.0.23" targetFramework="Native" />
  <package id="boost.preprocessor" version="1.54.0.23" targetFramework="Native" />
  <package id="boost.ref" version="1.54.0.23" targetFramework="Native" />
  <package id="boost.static_assert" version="1.54.0.23" targetFramework="Native" />
  <package id="boost.type_traits" version="1.54.0.23" targetFramework="Native" />
  <package id="boost.utility" version="1.54.0.23" targetFramework="Native" />
  <package id="boost.version" version="1.54.0.23" targetFramework="Native" />
</packages>