<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.54.0.0" targetFramework="Native" />
  <package id="boost_atomic" version="1.54.0.0" targetFramework="Native" />
  <package id="cpprestsdk" version="1.2.0" targetFramework="Native" />
  <package id="cpprestsdk.redist" version="1.2.0" targetFramework="Native" />
  <package id="zlib" version="1.2.8.6" targetFramework="Native" />
  <package id="zlib.redist" version="1.2.8.6" targetFramework="Native" />
</packages>